body {
    font-family: "Raleway", sans-serif;
    background: #eee;
}


/* the following root section is for parameters */

:root {
    --initPosX: -230%;
    --dx: 35%;
    --initPosY: 25%;
    --secdPosY: 50%;
}

.wrapper {
    position: absolute;
    top: -2%;
    left: 40%;
    width: 250px;
    height: 320px;
    perspective: 900px;
}

.container {
    position: absolute;
    top: 10%;
    width: 30%;
    height: 30%;
    transition: 0.5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px #555;
    animation: entry 1s linear 1;
}

#c1 {
    position: absolute;
    left: var(--initPosX);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c2 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx));
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
    /* z-index: 0; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c3 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 2);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 0; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c4 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 3);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c5 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 4);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c6 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 5);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c7 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 6);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c8 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 7);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c9 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 8);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c10 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 9);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c11 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 10);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c12 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 11);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c13 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 12);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c14 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 13);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c15 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 14);
    top: var(--initPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c16 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 0);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c17 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 1);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c18 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 2);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c19 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 3);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c20 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 4);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c21 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 5);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c22 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 6);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c23 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 7);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c24 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 8);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c25 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 9);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c26 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 10);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c27 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 11);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c28 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 12);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c29 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 13);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

#c30 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) *14);
    top: var(--secdPosY);
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
    /* z-index: 1; */
    /* box-shadow: 0px 20px 100px #555; */
}

.container:hover {
    cursor: pointer;
    width: 100%;
    height: 100%;
    transform: rotate(0deg) scale(1) translateY(20px);
    transition: 0.01s all ease;
    z-index: 99999999999;
    margin-top: -1cm;
    margin-left: -1cm;
}

.container::after {
    content: "hello!";
    /* display: inline; */
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    width: 92%;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    pointer-events: none;
    /* This prevents the box from apearing when hovered. */
    transition: opacity 250ms, top 250ms;
}

.container:hover::after {
    opacity: 0.8;
}

.image {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 45%;
    background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
}

span {
    position: absolute;
    top: 0%;
    left: 55%;
    border-radius: 100%;
    background-color: #fff;
    z-index: 10;
}

.story {
    position: absolute;
    top: 45%;
    left: 0%;
    height: 55%;
    width: 100%;
    background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
    z-index: 30;
}

.info {
    position: absolute;
    top: 10%;
}

h3 {
    text-align: center;
    text-shadow: 0px 0px 10px #eee;
    color: #eee;
    letter-spacing: 2px;
}

h4 {
    color: #111;
    position: absolute;
    top: 30%;
    left: 30%;
    letter-spacing: 2px;
}

h1 {
    color: #111;
    position: fixed;
    top: 0%;
    text-align: center;
    margin: 20px 100px;
}

p {
    font-size: 14px;
    color: #fff;
    padding: 0px 20px 20px 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;
}


/* the following is the pictures' attributes */

.pic {
    width: 100%;
}